* {
  font-family: Inter;
  margin: 0;
  padding: 0;
}


.container {
  padding: 20px;
  display: flex;
  background-color: #d5f030;
  height: 100vh;
  box-sizing: border-box;
}

@media (max-width: 760px) {
  .container {
    flex-direction: column;
  }
}